$color-arrow: $color-1;
$color-arrow-2: lighten($color-arrow, 10%);
$color-arrow-3: lighten($color-arrow, 30%);

.content {
  margin-bottom: 0 !important;
  &.numeral {
    margin-top: 1.5rem !important;
  }
  &.letter {
    margin-top: 0.75rem !important;
  }
}

.numberCircle {
    line-height: 0;
    font-size: 32px;
    margin-right: 17px;

    &.letter {
      font-size: 24px;
      margin-left: 2rem;
    }

    &.roman {
      font-size: 22px;
      border: 0;
      margin-left: 4rem;
    }
}

.arrow {
  background-color: $color-arrow;
  color: $white;

  .numberCircle {
      border-radius: 20%;
      background-color: $black;
      color: $white;
      border: 20px solid $black;
      border-bottom: 13px solid $black;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: 2px 1px 5px $black;
      margin-left: 0;

      &.letter {
        border-radius: 0;
        border: 14px solid $black;
        box-shadow: 2px 1px 5px $black;
        margin-left: 0;
      }

      &.roman {
        border: 0;
        background-color: initial;
        margin-left: 17px;
        box-shadow: none;
      }
  }

}
